/* CSS related to wishlist.js */

input.Name, input.Email, input.Size, input.Brand, input.Type, textarea.OtherSpecifications {
  display: flex;
	justify-content: center;
  display: flexbox;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;

  border: none;
  border-bottom: 1px solid black;

  display: flexbox;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

form label, form input {
  font-size: 1.25em;
}

form{
  padding-top: 0px;
  margin-top: 0px;
}

textarea.OtherSpecifications {
  height: 5em;
  font-size: 1.25em;
  font-family: Arial;
}

p#FormSuccessMessage {
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 1.25em;
}

p#ExplanationText {
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 0.5em;
}

p#FormNonSuccessMessage {
  text-align: center;
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 0.5em;
  color: rgb(218, 23, 23);
}

input.Size {
    width: 14vw;
    margin-left: 1vw;
  }

button.submitRequest {
  max-width: 100%;
  display: inline-block;
  background: white;
  color: black;
  border: 1px solid black;
  padding-left: 1.5em;
  padding-right: 1.5em;
  letter-spacing: 1px;
  border-radius: 0;
  cursor: pointer;
  transition: color 150ms, background-color 150ms;
  text-transform: uppercase;
  font-size: 1rem;
  height: 2rem;
  line-height: 1rem;
  padding-bottom: auto;
  padding-top: auto;
}

button.submitRequest:hover {
  color: white;
  background-color: black;
}
#Type::placeholder {
  color: rgba(78, 78, 78, 0.863);
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
}
input.Brand {
    width: 14vw;
    margin-right: 1vw;
  }

  div.both_col div.col1 {
    position: relative;
    display:inline-block;
    width: 15vw;
  }

  div.both_col div.col2 {
    position: relative;
    display:inline-block;
    width: 15vw;
  }

div.both_col, ProductRequest.submitRequest {
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
  }

@media only screen and (max-width: 820px) {
  input.Name, input.Email, input.Size, input.Brand, input.Type, textarea.OtherSpecifications {
    width: 50vw;
  }
  div.both_col, div.both_col div.col1, div.both_col div.col2{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 450px) {
  input.Name, input.Email, input.Size, input.Brand, input.Type, textarea.OtherSpecifications, div.both_col, div.both_col div.col1, div.both_col div.col2 {
    width: 90vw;
  }
}